/* Explicitly define margins and paddings */

body {
  margin: 0;
  padding: 0;
}



table {
  margin-left: 15px;
  margin-right: 20px;
  /* Ensures the table uses available space */
}

th, td {
  padding: 20px; /* Adds padding inside cells for spacing */
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #f9f9f9;
}

.table-hover tbody tr:hover {
  background-color: #f1f1f1;
}
.container {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  padding: 0 20px; /* Adds padding on the left and right */

  grid-template-columns: 1fr; /* 1 column layout */
  padding: 0 20px; /* Adds padding on the left and right */
}
 .table-wrapper {
  margin-left: 20px;
  margin-right: 20px;
  padding: 10px; /* Optional: adds internal space around the table */
}


